# Arquivo de variáveis de ambiente
# NUNCA envie este arquivo para o repositório. Ele contém segredos.
.env

# Pasta do ambiente virtual
venv/
/venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Pastas de configuração de IDEs (opcional, mas recomendado)
.vscode/
.idea/